# -*- coding: utf-8 -*-
# 忽略编译生成的文件夹
.vscode/
Capture/
sunny_camera.egg-info/

demo_cpp/build
demo_cpp/*.txt

demo_python/*.txt

sunny_camera/__pycache__/
sunny_camera/.vscode/
sunny_camera/build/
sunny_camera/libs/__pycache__/
sunny_camera/libs/SunnyCamera.so
sunny_camera/pointCloud.txt
sunny_camera/tof_dev_sdk_log.txt
